[Desktop Entry]
Type=Application
Name=SWL: Launch Waydroid
Exec=swl-launch
Icon=waydroid
Categories=X-SWL;
Comment=Launch a caged Waydroid session
Terminal=false