[Desktop Entry]
Type=Application
Name=SWL launch caged Waydroid
Exec=swl-launch
Icon=waydroid
Categories=SteamWaydroidLauncher;
Comment=Launch a caged Waydroid session
Terminal=false