[Desktop Entry]
Type=Application
Name=Add Waydroid App to Steam
Exec=swl-add-waydroid-app
Icon=utilities-terminal
Categories=Utility;
Comment=Add a Waydroid app to Steam
Terminal=false