[Desktop Entry]
Type=Application
Name=SWL add app to steam
Exec=swl-add-waydroid-app
Icon=utilities-terminal
Categories=Utility;
Comment=Add a Waydroid app to Steam
Terminal=false