[Desktop Entry]
Type=Application
Name=SWL: Add Waydroid App to Steam
Exec=swl-add-waydroid-app
Icon=utilities-terminal
Categories=X-SWL;
Comment=Add a Waydroid app to Steam
Terminal=false